<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Diet</title>
        <img src="C:\Users\shahc\Desktop\ShapenSoul\components\header.jpg" alt="header" height="250" width="1300" >
</head>
<body>
    <pre style="font-size: x-large;
                text-align: center;">
        Sesame Ladoo:

        Sesame seeds 150 gm
        Jaggery desi 75 gm

        Method :
        Dry roast the sesame seeds, grind it in a coarse mixture.
        Add water in jaggery, make a jaggery syrup of one thread consistency.
        Mix the sesame seeds in the jaggery syrup.
        Make ladoos of medium size.
        
        Benefits :
        Seseame seeds are good source of calcium and phosphorous.
        Good for arthritis.</pre>
        <hr>
</body>
</html>